
@mixin responsive($max-screen-size) {
    @media (max-width: $max-screen-size) {
        @content;
    }
}
@import 'Variable';
@import 'Primary';
@import 'Header';
@import 'Content';

body {
    font-family: var(--font);
    color: #333;
    margin: 0;
    padding: 0;

   
}
h2 {
    font-size: 32px;
}


.features {
    background: #f3f3f3;
}
.center-section {
    text-align: center;
    padding: 50px 10px;
}
.card-list {
    display: flex;
    justify-content: space-between;
   
}
.card {
    background: var(--bela);
    padding: var(--odredjenPadding2);
    width: 27%;
    border-radius: 10px;
    box-shadow: var(--odredjenBoxShaddow);
}

/* Footer */
.footer {
    text-align: center;
    padding: var(--odredjenPadding2);
    background: #222;
    color: var(--bela);
}

/* Responsive */


